* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#container {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#logo {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#logo h2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #453ff6;
    text-align: center;
    line-height: 35px;
    color:white;
}

nav {
    width: 1100px;
    height: 50px;
    padding-top: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
nav ul {
    list-style-type: none;
}
.nav-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1.5rem;
}
nav ul li {
    transition: all 0.3s;
}
nav ul li:hover {
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
}
.banner-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.banner-text {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.button-consult {
    width: 200px;
    height: 50px;
    border: 2px solid #453ff6;
    background-color: #453ff6;
    color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.banner-page img {
    width:500px;
    height: 350px;
}
#service-container {
    width: 1100px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-header {
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.line {
    width: 50px;
    height: 3px;
    background-color: black;
    margin: 15px 0;

}
.list-holder {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.services-list {
    width: 250px;
    height: 250px;
    /* background-color: pink; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}
#review-container {
    /* background-color: green; */
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#review-box {
    width: 800px;
    height: 350px;
    background-color: #453ff6;
    background-image: linear-gradient(#63b7f3,#5A98F2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#box-header {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#box-header .line {
    background-color: white;
}
#box-content {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile {
    width: 350px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#review-text {
    width: 350px;
}
#article-container {
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-header {
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.article-holder {
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}
.article-list {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.article-list-text {
    width: 250px;
    height: 250px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.read-more {
    color: #453ff6;
}
.fa {
    margin: 0 10px;
}
.tech-list img {
    width: 250px;
    height: 200px;
}
.button {
    width: 200px;
    height: 50px;
    border: 2px solid #453ff6;
    color: #453ff6;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.section-footer {
    width: 1100px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #65bbf3;
    background-image: linear-gradient(#65bbf3,#5A98F2);
    color: white;
    margin-top: 100px;
    padding: 0 60px;

}
.footer-content {
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 20px;

}
#logo-footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#logo-footer h2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 35px;
    color:#65bbf3;
}



