* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#container {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
}

#logo {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#logo h2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #453ff6;
    text-align: center;
    line-height: 35px;
}

nav {
    width: 1100px;
    height: 50px;
    padding-top: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
nav ul {
    list-style-type: none;
}
.nav-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1.5rem;
}
.banner-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.banner-text {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.banner-page img {
    width:500px;
    height: 350px;
}
#service-container {
    width: 1100px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-header {
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.list-holder {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}
.services-list {
    width: 250px;
    height: 250px;
    /* background-color: pink; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 1px 1px black;
    padding-left: 20px;
}
#review-container {
    /* background-color: green; */
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#review-box {
    width: 800px;
    height: 350px;
    background-color: #453ff6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#box-header {
    width: auto;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-content {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile {
    width: 350px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#profile-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#review-text {
    width: 350px;
}
#tech-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tech-holder {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}
.tech-list {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 2px 2px black;
    overflow: hidden;
}
.read-more {
    color: #453ff6;
    
}
.tech-list img {
    width: 250px;
    height: 200px;
}
.button {
    width: 200px;
    height: 50px;
    border: 2px solid #453ff6;
    color: #453ff6;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.section-footer {
    width: 1100px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #65bbf3;
    color: white;
    margin-top: 100px;
}
.footer-content {
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}



